<div class="home">
  <div class="breadcrumbs_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="breadcrumbs">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li>{{form}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact -->

<div class="contact">


  <!-- Contact Info -->

  <div class="contact_info_container">
    <div class="container">
      <div class="row">

        <!-- Contact Form -->
        <div class="col-lg-4" style="margin: auto;">
          <div class="contact_form">
            <div class="contact_info_title" style="text-align: center;">{{form}}</div>
            <form [formGroup]="addCourseForm" class="comment_form">
              <div>
                <input type="text" class="comment_input" [(ngModel)]="course.field" formControlName="field"
                  placeholder="Course Name" required="required">
                <div
                  *ngIf="addCourseForm.controls['field'].invalid && (addCourseForm.controls['field'].dirty || addCourseForm.controls['field'].touched)">
                  <div *ngIf="addCourseForm.controls['field'].errors.required" style="color: red;">Please enter the
                    course name</div>
                  <div *ngIf="addCourseForm.controls['field'].errors.minlength" style="color: red;">The course name must
                    have at least 3 chars</div>
                </div>
              </div>
              <div>
                <input type="text" class="comment_input" [(ngModel)]="course.teacher" formControlName="teacher"
                  placeholder="Teacher" required="required">
                <div
                  *ngIf="addCourseForm.controls['teacher'].invalid && (addCourseForm.controls['teacher'].dirty || addCourseForm.controls['teacher'].touched)">
                  <div *ngIf="addCourseForm.controls['teacher'].errors.required" style="color: red;">Please enter the
                    teacher name</div>
                  <div *ngIf="addCourseForm.controls['teacher'].errors.minlength" style="color: red;">The teacher name
                    must have at least 3 chars</div>
                </div>
              </div>
              <div>
                <input type="number" class="comment_input" [(ngModel)]="course.numberOfStudents" formControlName="numberOfStudents"
                  placeholder="Number of Students" required="required">
                <div
                  *ngIf="addCourseForm.controls['numberOfStudents'].invalid && (addCourseForm.controls['numberOfStudents'].dirty || addCourseForm.controls['numberOfStudents'].touched)">
                  <div *ngIf="addCourseForm.controls['numberOfStudents'].errors.required" style="color: red;">Please enter the number of students</div>
                </div>
              </div>
              <div>
                <input type="text" class="comment_input" [(ngModel)]="course.price" formControlName="price"
                  placeholder="Price" required="required">
                <div
                  *ngIf="addCourseForm.controls['price'].invalid && (addCourseForm.controls['price'].dirty || addCourseForm.controls['price'].touched)">
                  <div *ngIf="addCourseForm.controls['price'].errors.required" style="color: red;">Please enter the
                    price</div>
                </div>
              </div>
              <div>
                <textarea class="comment_input" [(ngModel)]="course.description" formControlName="description"
                  style="height: 100%;" rows="3" placeholder="Description" required="required"></textarea>
                <div
                  *ngIf="addCourseForm.controls['description'].invalid && (addCourseForm.controls['description'].dirty || addCourseForm.controls['description'].touched)">
                  <div *ngIf="addCourseForm.controls['description'].errors.required" style="color: red;">Please enter
                    the course description</div>
                  <div *ngIf="addCourseForm.controls['description'].errors.minlength" style="color: red;">The
                    description must have at least 50 chars</div>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <label style="cursor: pointer; font-size: medium; color: #757575;"><input type="file" hidden required="required" (change)="onImageSelected($event)"><i class="fas fa-images"></i> Add Image</label>
              </div>
              <div class="d-flex justify-content-center"  *ngIf="imagePreview">
                <img [src]="imagePreview" width="270px" height="170px">
              </div>
              <div>
                <button type="submit" class="comment_button trans_200" (click)="addOrEditCourse()"
                  style="width: 100%;">{{form}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>